@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color:whitesmoke;
}
.active{
  background-color: rgb(221, 71, 71);
  color:white;
  padding: 5px;
 }



